.App {
  margin: 0;
  padding: 0;
 
}

 .form input{
  width: 500px;
  height: 30px;
  border-radius: 2px;
  border: 2px solid;
  margin-left: 600px;
  
}

label{
  margin-left: 600px;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color:black
  
}

header .header-icons-container .icons {
  width: 500px;
  height: auto;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  
}


h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 70px;
  font-weight: 700px;
  letter-spacing: 10px;
  color: black;
  text-align: center;
}
.home-main-button{
  width: 70px;
  height: 30px;
  background: coral;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 700px;
 
}

.home-main-button-signup{
  width: 100px;
  height: 40px;
  background: coral;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 600px;
 

}
.home-main-button-login{
  width: 100px;
  height: 40px;
  background: coral;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 60px;
 

}
.home-main-button-family {
  width: 100px;
  height: 40px;
  background: coral;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 200px;
  

}

.home-main-button-family-home {
  width: 100px;
  height: 40px;
  background: coral;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 200px;

}

.home-main-button-about{
  width: 100px;
  height: 40px;
  background: coral;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 200px;

}


.form-login input{
  width: 500px;
  height: 30px;
  border-radius: 2px;
  border: 2px solid;
  margin-left: 30px;

}
.category input{
  width: 200px;
  height: 30px;
  border-radius: 2px;
  border: 2px solid;
  margin-left: 30px;


}
.home-main-tex{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  font-weight: 100px;
  letter-spacing: 10px;
  color:black;
  text-align: center;
}
.home-main-tex-list{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  font-weight: 100px;
  letter-spacing: 10px;
  color:black;
  text-align: center;
  text-decoration: none;

}

h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  font-weight: 700px;
  letter-spacing: 10px;
  color: black;
  text-align: center;
}
.container p{
  
  justify-content: center;
  width: 500px;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  margin-left: 400px;
  margin-top: 60px;
  padding: 30px;
  text-align: center;
  text-shadow: 2px 2px 2px coral;
  
  

  
  
}

.create-product{

  color: coral;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 150px;
  margin-left: 600px;
  

}
.create-menu{
  color: coral;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 150px;
  margin-left: 600px;
  justify-content: space-between;
  


}

.form-pay{
 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 100px;

  


}
.home-main-button-products{
  width: 100px;
  height: 60px;
  background: coral;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  


}

.home-main-button-menus{
  width: 100px;
  height: 60px;
  background: coral;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  


} 

 .logo{

  margin-left: 200px;
  margin-top: 100px;
  
 }
 .logoFamily{

  
  margin-bottom: 200px;
  text-align: center;
  
 }
 .logoAbout{

    margin-bottom: 200px;
    text-align: center;
    margin-left: 700px;
    margin-top: -200px;
    
 }

 h3{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: 50px;
  letter-spacing: 10px;
  color:black;
  text-align: center;

 }
 h4{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  letter-spacing: 10px;
  color:coral;
  margin-top: 40px;
  text-align: center;

 }

 .home-main-button-about-add{
  width: 400px;
  height: 50px;
  background: coral;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 500px;


 }

 .home-main-button-about-delete{
  width: 60px;
  height: 50px;
  background: coral;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 1000px;

 }
 .home-main-button-about-edit{
  width: 60px;
  height: 50px;
  background: coral;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 1000px;

 }
 .home-main-button-about-list{
  width: 60px;
  height: 50px;
  background: coral;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 1000px;

 }




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
